<div class="container">
	<div class="list-group">
	  <ul class="list-unstyled list-inline text-uppercase">
	    <li><%= link_to "Cadastre-se", new_user_path, class: 'btn btn-info'  %> </li>
	    <li>Olá <%= @user.name.split.first %>! <%= link_to "Indique amigos para concorrer", new_user_friend_path(@user),  class: 'text text-info'  %> </li>
	  </ul>
	</div>

<p id="notice"><%= notice %></p>

	<div class="col-md-12">
	  <div class="list-group-item list-group-item-info"> <strong> Nome: </strong><%= @user.name %></div>
	  <div class="col-md-12 list-group-item list-group-item"> <strong> Email: </strong> <%= @user.email  %> </div>
	  <div class="col-md-6 list-group-item list-group-item"> <strong>  Indicações: </strong> <%= @user.friends.count  %> </div>
	  <div class="col-md-6 list-group-item list-group-item"> <strong>  Empresa: </strong> <%= @user.company  %> </div>
	</div>

	<div class="col-md-12">
		<% if @user.friends.blank? %>
			<h2> Não tem indicações</h2>
		<% else %>
			<p class="text text-default">Amigos indicados:</p>
			<% @user.friends.order("created_at DESC").each do |friend| %>
			<div class="row list-group">
			<div class="col-md-12 list-group-item">Nome: <%= friend.name %> </div>
			<div class="col-md-12 list-group-item">Email: <%= friend.email %> </div>
			</div>
			<% end %>
	<% end %>
	</div>
</div>

