<div class="container">

<p id="notice"><%= notice %></p>

	<div class="col-md-12">
	  <div class="list-group-item list-group-item-info"> <strong> Nome: </strong><%= @user.name %></div>
	  <div class="col-md-12 list-group-item list-group-item"> <strong> Email: </strong> <%= @user.email  %> </div>
	  <div class="col-md-6 list-group-item list-group-item"> <strong>  Indicações: </strong> <%= @user.friends.count  %> </div>
	  <div class="col-md-6 list-group-item list-group-item"> <strong>  Empresa: </strong> <%= @user.company  %> </div>

	</div>
	
	
	<div class="col-md-12">
		<% if @user.friends.blank? %>
			<h2> Não tem indicações</h2>
			<div class="form">
				<%= render 'friends/form' %>
			</div>
		<% else %>
			<div class="friends_wrapper">
				<div class="form">
				<%= render 'friends/form' %>
				</div>
			</div>

			<div class="col-md-12">
				<p class="text text-info"><strong>Amigos indicados:</strong></p>
				<% @user.friends.order("created_at DESC").each do |friend| %>
					<div class="list-group">
					<div class="list-group-item list-group-item-info">Nome: <%= friend.name %> </div>
					<div class="list-group-item list-group-item-info">Email: <%= friend.email %> </div>
					</div>
				<% end %>
			</div>
	<% end %>
	</div>
</div>

